@define-color bg rgba(43, 48, 59, 0.5);
@define-color button-bg rgba(59,81,104,255);
@define-color button-selected-bg rgba(255, 255, 255, 0.8);
@define-color button-fg rgba(242, 189, 187, 1);
* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  padding: 1px;
  font-size: 13px;
}

window#waybar {
  background-color: @bg;
  color: @button-fg;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
  background-color: #3f3f3f;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
  min-height: 1px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
  background-color: #a37800;
}

#workspaces button {
  border-radius: 0px;
  padding: 0 5px;
  background-color: @bg;
  color: @button-fg;
}

#workspaces button:hover {
  background: rgba(255, 255, 255, 0.8);
}

#workspaces button.focused {
  background-color: #64727d;
  box-shadow: inset 0 -3px @button-fg;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
  padding: 0 10px;
  color: @button-fg;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#window {
  border-radius: 0px;
  border: 1px solid @button-bg;
  color: @button-fg;
  padding: 0 10px;
  background-color: transparent;
}

#clock {
  border-radius: 0px;
  background-color: @button-bg;
}

#battery {
  background-color: #ffffff;
  color: @button-fg;
}

#battery.charging,
#battery.plugged {
  color: @button-fg;
  background-color: #26a65b;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: @button-fg;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: @button-fg;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#power-profiles-daemon {
  padding-right: 15px;
}

#power-profiles-daemon.performance {
  background-color: #f53c3c;
  color: @button-fg;
}

#power-profiles-daemon.balanced {
  background-color: #2980b9;
  color: @button-fg;
}

#power-profiles-daemon.power-saver {
  background-color: #2ecc71;
  color: @button-fg;
}

label:focus {
  background-color: #000000;
}

#cpu {
  border-radius: 0px;
  background-color: @button-bg;
  color: @button-fg;
}

#memory {
  border-radius: 0px;
  background-color: @button-bg;
  color: @button-fg;
}

#disk {
  background-color: #964b00;
}

#backlight {
  background-color: #90b1b1;
}

#network {
  background-color: #2980b9;
}

#network.disconnected {
  background-color: #f53c3c;
}

#pulseaudio {
  border-radius: 0px;
  background-color: @button-bg;
  color: @button-fg;
}

#pulseaudio.muted {
  background-color: #90b1b1;
  color: @button-fg;
}

#wireplumber {
  background-color: #fff0f5;
  color: @button-fg;
}

#wireplumber.muted {
  background-color: #f53c3c;
}

#custom-media {
  border-radius: 0px;
  background-color: @button-bg;
  color: @button-fg;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  border-radius: 0px;
  background-color: @button-bg;
  color: @button-fg;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray {
  border-radius: 0px;
  border: 1px solid;
  color: @button-bg;
  background-color: transparent;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: @button-fg;
}

#mpd {
  background-color: #66cc99;
  color: @button-fg;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

#language {
  border-radius: 0px;
  background: @button-bg;
  color: @button-fg;
  padding: 0 7px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: @button-fg;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}

#privacy {
  padding: 0;
}

#privacy-item {
  padding: 0 5px;
  color: @button-fg;
}

#privacy-item.screenshare {
  background-color: #cf5700;
}

#privacy-item.audio-in {
  background-color: #1ca000;
}

#privacy-item.audio-out {
  background-color: #0069d4;
}

#taskbar {
  border-radius: 0px;
  border: 1px solid;
  padding: 0 5px;
  color: @button-bg;
  background-color: transparent;
}
#taskbar button {
  border-radius: 0px;
  padding: 0 10px;
  margin: 0 5px;
  color: @button-fg;
  background-color: transparent;
}
#taskbar button.active {
  background-color: @button-fg;
}
