@import "rose-pine-colors.css";

button {
  background: @base;
  color: @text;
  border-radius: 0;
  box-shadow: none;
}

#bar {
  background: @base;
  padding: 0 6px;
}

.workspaces .item.focused {
  color: @love;
}

.workspaces button {
  border: 0;
}

.workspaces .item:hover {
  color: @gold;
}

/* .upower { */
/*   margin-top: 10px; */
/*   margin-left: 5px; */
/*   margin-right: 5px; */
/*   margin-bottom: 2px; */
/*   padding: 3px; */
/*   background-color: @wm_highlight; */
/* } */

.tray,
.volume,
.focused,
.sysinfo {
  padding: 0 10px;
}

.tray,
.volume {
  color: @foam;
}

.volume,
.music,
.clock,
#power_button {
  border: 0;
}

.music,
.focused {
  color: @text;
}

.clock {
  font-size: .8em;
  font-weight: bold;
}

#power_button {
  font-size: 1.5em;
}

.sysinfo {
  color: @gold;
}

.focused,
.sysinfo {
  font-size: .8em;
}
